# Module - Python

### 1. What will be the output of the following Python program?

In [1]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) ==foo(q))

True

### 2. What will be the output of the following Python program?

In [2]:
def fun():
    try:
        return 1
    finally:
        return 2
k = fun()
print(k)

2

### 3. What will be the output of the following Python program?

In [3]:
def func():
    global value
    value = "Local"

value = "Global"
func()
print(value)

Local

### 4. _______________ exceptions are raised as a result of an error in opening a particular file

a) ValueError

b) TypeError

c) ImportError

d) IOError

a) ValueError: ValueError is generally raised when a built-in operation or function receives an argument of the correct type but an inappropriate value. It is not specifically related to file operations.

b) TypeError: TypeError occurs when an operation or function is applied to an object of an inappropriate type. Similar to ValueError, it's not directly related to file operations.

c) ImportError: ImportError is raised when there is an error in importing a module. It is not specifically related to file operations.

d) IOError: IOError, or Input/Output Error, is raised when there's an issue with input or output operations, such as opening, reading, or writing to a file. It is commonly associated with file-related errors, including problems with opening a file.

ANSWER :- d) IOError

### 5. In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed.

a) x = 13//2

b) x = int(13/2)

c) x = 13\%2

d) All of the mentioned

ANSWER :- d) All of the mentioned

### 6. What will be the output of the following Python code?

t[5]

a) IndexError

b) NameError

c) TypeError

d) SyntacticalError

In [4]:
t[5]

NameError: name 't' is not defined

### 7. A while loop in Python is used for what type of iteration?
a) indefinite

b) discriminant

c) definite

d) indeterminate

ANSWER :- a) Indefinite

A loop where the number of iterations is not known in advance, and the loop continues until a certain condition is met.

### 8. What will be the output of the following Python code?

x = "abcdef"

while i in x:
    print(i, end=" ")

a) a b c d e f

b) abcdef

c) iiiiiii...

d) Error

In [ ]:
x = "abcdef"

while i in x:
    print(i, end=" ")

### 9. What is the main advantage of using decorators in Python?

a) They make the code more complex

b) They simplify the syntax of the decorated functions

c) They reduce the performance of the code 

d) They provide additional security features

ANSWER :- b) They simplify the syntax of the decorated functions.

One of the main advantages of decorators is that they simplify the syntax of the decorated functions, allowing you to enhance or modify the behavior of functions in a clean and organized way.

### 10. If return statement is not used inside the function, the function will return:

a) None

b) 0

c) Null

d) Arbitary value

ANSWER :- a) None

If a return statement is not explicitly used inside a function, the function will automatically return None in Python.

### 11. What is called when a function is defined inside a class?

a) class

b) function

c) method

d) module

ANSWER :- c) method

When a function is defined inside a class in Python, it is referred to as a method. In object-oriented programming, a method is a function that is associated with an object (an instance of a class) and can access and manipulate the data within that object. The term "method" is used to distinguish functions that are part of a class from standalone functions

### 12. Which operator is used in Python to import modules from packages?

a) .

b) *

c) ->

d) &

ANSWER :- a) .

the dot (.) operator is used to import modules from packages. When importing a module from a package, you use the dot notation to specify the package and module names.

### 13. def getMonth (m):

### if m<1 or m>12:

### raise ValueError ("Invalid")

### print(m)

### getMonth (6)

a) ValueError

b) Invalid

c) 6

d) ValueError("Invalid")

In [ ]:
def getMonth (m):
    if m<1 or m>12:
        raise ValueError ("Invalid")
    print(m)
getMonth (6)

### 14. In the Python Programming Language, syntax error is detected by _______ at ________

a) Interpreter/Compile time

b) Run time / Interpreter

c) Interpreter/ Run time

d) Compile time / Run time

ANSWER :- a) Interpreter/Compile time

Syntax errors in Python are detected by the interpreter at compile time.

### 15. class Book:
###    def_init__(self,author):
###        self.author=author
### book1=Book("V.M.Shah")
### book2=book1

a) Both book1 and book2 will have reference to two different objects of class Book

b) id(book1) and id(book2) will have same value

c) It will throw error as multiple references to same object is not possible

d) None of the above

In [ ]:
class Book:
    def __init__(self,author):
        self.author=author
book1=Book("V.M.Shah")
book2=book1

In [ ]:
id(book1)

In [ ]:
id(book2)

ANSWER :- b) id(book1) and id(book2) will have same value

# Module-Data Analysis

## multiple choice questions with a single /multiple correct answer.

In [5]:
import pandas as pd, numpy as np

In [6]:
df = pd.DataFrame({'Date':['2024-01-01','2024-01-02','2024-01-03','2024-01-10','2024-01-09','2024-01-08'],
                   'Category':['Beverage','Food','Beverage','Beverage','Beverage','Food'],
                   'Product':['Cappuccino','Croissant','Espresso','Latte','Latte','Muffin'],
                   'CustomerID':['C004','C002','C001','C001','C003','C002'],
                   'Quantity':[1,2,2,3,1,1],
                   'UnitPrice':[3,2,2,3.5,3.5,2.5]})

In [7]:
df

         Date  Category     Product CustomerID  Quantity  UnitPrice
0  2024-01-01  Beverage  Cappuccino       C004         1        3.0
1  2024-01-02      Food   Croissant       C002         2        2.0
2  2024-01-03  Beverage    Espresso       C001         2        2.0
3  2024-01-10  Beverage       Latte       C001         3        3.5
4  2024-01-09  Beverage       Latte       C003         1        3.5
5  2024-01-08      Food      Muffin       C002         1        2.5

### 16. How to create a new column 'Revenue', which has value equals to the Quantity UnitPrice of the current row?

a) df['Revenue'] = df[Quantity'] * df['UnitPrice']

b) df['Revenue'] = df.apply(lambda x: x['Quantity'] * x["UnitPrice'], axis = 1)

c) df['Revenue'] = df.apply(lambda x: x['Quantity'] * x["UnitPrice'], axis = 0)

d) df['Revenue'] = df['Quantity"] ** df['UnitPrice"]

In [8]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [9]:
df

         Date  Category     Product CustomerID  Quantity  UnitPrice  Revenue
0  2024-01-01  Beverage  Cappuccino       C004         1        3.0      3.0
1  2024-01-02      Food   Croissant       C002         2        2.0      4.0
2  2024-01-03  Beverage    Espresso       C001         2        2.0      4.0
3  2024-01-10  Beverage       Latte       C001         3        3.5     10.5
4  2024-01-09  Beverage       Latte       C003         1        3.5      3.5
5  2024-01-08      Food      Muffin       C002         1        2.5      2.5

### 17. What is the syntax to find Categorical wise revenue?

a) df.groupby('Category')['Revenue'].mean()

b) df.groupby('Category')['Revenue'].sum()

c) df.groupby('Category')['Revenue'] agg(np.sum)

d) df.groupby('Category')['Revenue'].agg('sum')

In [10]:
df.groupby('Category')['Revenue'].sum()

Category
Beverage    21.0
Food         6.5
Name: Revenue, dtype: float64

### 18. To find the average quantity wrt to date and product, what is the correct syntax?

a) df.groupby(['Date', 'Product'])['Quantity'].avg()

b) df.groupby(['Date', 'Product'])['Quantity'].mean()

c) df.groupby(['Product', 'Date']) ['Quantity'].avg()

d) df.groupby(['Product', 'Mean'])['Quantity'].mean()

In [11]:
df.groupby(['Date', 'Product'])['Quantity'].mean()

Date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-08  Muffin        1.0
2024-01-09  Latte         1.0
2024-01-10  Latte         3.0
Name: Quantity, dtype: float64

### 19. Categorical wise revenue for Beverage and Food respectively are

a) 28.5, 6.0

b) 6.0, 27.5

c) 28.5, 7.0

d) 7.0, 28.5

In [12]:
beverage_revenue = df[df['Category'] == 'Beverage']['Revenue'].sum()
beverage_revenue

21.0

In [13]:
food_revenue = df[df['Category'] == 'Food']['Revenue'].sum()
food_revenue

6.5

### 20. Using transform, what is the syntax to create a column which has a UnitPrice difference wrt its Category mean?

a) df.groupby('Category')['UnitPrice'].transform(lambda x:x-x.mean())

b) df.groupby('Category')('UnitPrice').transform(lambda x:x-x.mean())

c) df.groupby['Category']['UnitPrice'].transform(lambda x:x-x.mean())

d) df.groupby(['Category','UnitPrice']).transform(lambda x:x-x.mean())

In [14]:
df.groupby('Category')['UnitPrice'].transform(lambda x:x-x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

### 21. What is the correct syntax to get data wrt 'Monday'?

a) df.groupby(df.Date.dt.day_name()).get_group('Monday')

b) df.groupby(df.Date.dt.dayname()).get_group('Monday')

c) df.groupby(df.Date.dt.dayofweek()).get_group("Monday')

d) df.groupby(df.Date.dt.day_of_week()).get_group('Monday')

In [15]:
#df.groupby(df.Date.dt.day_name()).get_group('Monday')

In [16]:
#df.groupby(df.Date.dt.dayofweek()).get_group("Monday')

### 22. Which of the following statements is/are True?

a) apply() can be applied on rows

b) Apply function can't be applied on rows

c) Apply applies the function on the entire series at a time.

d) Apply applies the function one cell at a time

ANSWER :- a) apply() can be applied on rows , c) Apply applies the function on the entire series at a time.

a) apply() can indeed be applied on both rows and columns. By default, it applies the function along columns, but you can specify axis=1 to apply it along rows.

c) This statement is true. The apply() function applies the specified function to each column or row, depending on the specified axis. By default, it applies the function to entire columns.

### 23. Which of the following statements is/are True?
a) Map applies the functionality on entire DataFrame

b) Applymap applies the functionality on series be it row or a column

c) Apply and Map are vectorized applications

d) None of the above

ANSWER :- a) Map applies the functionality on entire DataFrame, c) Apply and Map are vectorized applications
    
a) map() applies the specified function to each element of a series or each element of specified columns in a DataFrame. When applied to a DataFrame, it operates on each column individually.

c) This statement is true. Both apply() and map() are vectorized operations in pandas. They allow you to apply a function to each element of a series or DataFrame without using explicit loops.

In [17]:
df1 = pd.DataFrame({'Date':['2024-01-10','2024-01-11','2024-01-10','2024-01-12','2024-01-11','2024-01-12'],
                   'Region':['North','South','East','West','North','East'],
                   'Salesperson':['Ajay','Balu','Chirag']*2,
                   'Product':['Notebook','Pen','Notebook','Pen','Blinder','Blinder'],
                   'Quantity':[5,10,7,15,20,10],
                   'UnitPrice':[12,3,12,3,5,5]})

In [18]:
df1

         Date Region Salesperson   Product  Quantity  UnitPrice
0  2024-01-10  North        Ajay  Notebook         5         12
1  2024-01-11  South        Balu       Pen        10          3
2  2024-01-10   East      Chirag  Notebook         7         12
3  2024-01-12   West        Ajay       Pen        15          3
4  2024-01-11  North        Balu   Blinder        20          5
5  2024-01-12   East      Chirag   Blinder        10          5

### 24. What is the syntax to create a pivot table with index as North and South and columns as Product where values are sum of Quantities Sold ?

a) df1[df1['Region].isin(['North', 'South']).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity, agg = 'sum')

b) df1[df1['Region], isin(['North', 'South']).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity, aggfunc = 'sum')

c) df1[(df1['Region] == 'North') | (df1['Region']=='South")]).pivot_table(index = 'Product', columns = 'Product', values = 'Quantity', agg = 'sum')

d) df1[(df1['Region] == 'North') | (df1['Region']=='South')]).pivot_table(index = 'Product', columns Product, values = 'Quantity', aggfunc = 'sum')

In [19]:
df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')

Product  Blinder  Notebook   Pen
Region
North       20.0       5.0   NaN
South        NaN       NaN  10.0

### 25. Which of the following statements is/are True?

a) iloc method includes includes the last element when used for slicing

b) loc method doesn't includes the last element when used for slicing

c) We can use loc method and pass default integer index of rows when slicing

d) None of above

ANSWER :- a) iloc method includes includes the last element when used for slicing ,
b) loc method doesn't includes the last element when used for slicing

a) iloc is used for integer-location based indexing, and when used for slicing, it includes the last element in the specified range.

b) loc is label-based indexing, and when used for slicing, it includes both the start and end points, unlike iloc which includes the start but excludes the end.

### 26. Using a pivot table is it possible to create a multi-index dataframe, if so what is the syntax to have a multi index of Date and Region, with total Product sold as values?

a) No we can't create a multi-index table using pivot table

b) df1.pivot_table(index=['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

c) df1.pivot_table(index=['Date', 'Region'], columns = 'Product', values = 'Quantity', agg = 'sum')

d) None of these

In [20]:
df1.pivot_table(index = ['Date', 'Region'], columns = 'Product', values = 'Quantity', aggfunc = 'sum')

Product            Blinder  Notebook   Pen
Date       Region
2024-01-10 East        NaN       7.0   NaN
           North       NaN       5.0   NaN
2024-01-11 North      20.0       NaN   NaN
           South       NaN       NaN  10.0
2024-01-12 East       10.0       NaN   NaN
           West        NaN       NaN  15.0

### 27. What does the margins parameter in the pivot_table() function allow you to include in the pivot table?

a) Additional margins and subtotals for rows and columns.

b) A list of column names to exclude from the pivot table.

c) The number of rows and columns to skip at the beginning of the pivot table.

d) The maximum number of rows and columns to display in the pivot table

ANSWER :- d) The maximum number of rows and columns to display in the pivot table

In [21]:
df2 = pd.DataFrame({
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']})
df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

### 28. If we choose to impute missing values in Price col by chaining ffill() and bfill() while limiting the imputation to 1, 1 respectively, how many missing values will be left post imputation?

a) 2

b) 0

c) 1

d) 3

In [22]:
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)
df2['Price'].isnull().sum()

0

ANSWER :- b) 0

### 29. What kind of missing values handling technique is appropriate for df2?

a) Imputing Price col with Price's mean

b) Imputing Price col with Price's median

c) Imputing Price col with individual fruits' Price's median

d) Dropping missing values

ANSWER :- c) Imputing Price col with individual fruits' Price's median

### 30. If we choose to impute missing values in Price col by with individual Fruits' Price's mean, how many missing values will be post imputation?

a) 2

b) 0

c) 1

d) 3

In [23]:
df2['Price'] = pd.to_numeric(df2['Price'], errors='coerce')

df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.mean()))

df2['Price'].isnull().sum()

2

### 31. If a = pd.Series([np.nan, 1, 2, пр.п np.nan, np.nan, np.nan, 4, 5, 7]) What will be the output of a. interpolate()

a) [nan, 1.0, 2.0, 2.3, 2.7, 3.1, 3.5, 4.0, 5.0, 7.01]

b) [nan, 1.0, 2.0, 2.5, 2.9, 3.3, 3.8, 4.0, 5.0, 7.01]

c) [nan, 1.0, 2.0, 2.4, 2.8, 3.2, 3.6, 4.0, 5.0, 7.0]

d) Error

In [24]:
a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]).interpolate()
a

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

ANSWER :- c) [nan, 1.0, 2.0, 2.4, 2.8, 3.2, 3.6, 4.0, 5.0, 7.0]

In [25]:
df3 = pd.DataFrame({
    'Age Group': ['26-35', '18-25', '18-25', '26-35', '18-25', '18-25'],
    'Favorite Color': ['Blue', 'Red', 'Red', 'Blue', 'Red', 'Blue'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Has Pet': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
})

df3

  Age Group Favorite Color  Gender Has Pet
0     26-35           Blue    Male     Yes
1     18-25            Red  Female     Yes
2     18-25            Red    Male     Yes
3     26-35           Blue  Female     Yes
4     18-25            Red  Female     Yes
5     18-25           Blue  Female      No

### 32. What is the use of the normalization parameter in the crosstab method of pandas?

a) It used to normalize values by dividing them by the total count

b) To add margins

c) There is no parameter called as normalize in crosstab

d) Both a & c

ANSWER :- d) Both a & c
    
a) It used to normalize values by dividing them by the total count

c) There is no parameter called as normalize in crosstab

### 33. What is the probability of finding a Male and having a Pet in df3?

a) 0.333

c) 0.5

b) 0.666

d) 0.1667

In [26]:
x = len(df3)
male_and_has_pet = len(df3[(df3['Gender'] == 'Male') & (df3['Has Pet'] == 'Yes')])
probability = male_and_has_pet / x

print(probability)

0.3333333333333333

### 34. What is the probability of finding a person having a Pet given they belong to the age group 18-25 in df3?

a) 0.25

c) 0.75

b) 0

d) 1

In [27]:
age_group_18_25 = len(df3[df3['Age Group'] == '18-25'])
has_pet_and_age_group_18_25 = len(df3[(df3['Age Group'] == '18-25') & (df3['Has Pet'] == 'Yes')])
probability = has_pet_and_age_group_18_25 / age_group_18_25

print(probability)

0.75

### 35. Which distribution is appropriate for modeling the number of defects in a large batch of products?

a) Normal

b) Binomial

c) Bernoulli

d) Uniform

ANSWER :- b) Binominal
    
The number of defects in a large batch of products is often modeled using a binomial distribution.